.container{
    width: 50em;
    margin: 0 auto;
    padding: 0 0 2em;
}


.form_header{
    padding: 0 0 1em;
    border-bottom: 1px solid rgba(0, 0, 255, 0.7);
}

.form_header>h2{
    font-weight: normal;
    font-size: 1.5rem;
    color:  var(--main-color2);    
}

.header_description{
    color: rgba(0, 0, 0, 0.7);
}

.field{
    margin: 1em 0;
}

.field>input, .field>textarea, .field>label{
    display: block;
    resize: none;
}

.field>label{
    margin-bottom: .5em;
    color: var(--main-color2);
    font-size: 1rem;
    letter-spacing: .8px;
}

.field_description{
    color: rgba(0, 0, 0, 0.7);
    font-size: .9rem;
    margin: .5rem 0;
}

.field>input, .field>textarea{
    width: 50em;
    box-sizing: border-box;
    padding: .5em;
    overflow: hidden;
}
