/* .back{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.form>*{
    display: block;
    width: 18rem;
    margin-top: 1rem;
}

.input{
    height: 2rem;
    font-size: 1rem;
    border-radius: 5px;
    outline: none; 
    border-color: var(--main-color2);
    border-width: 1px;
    box-shadow: 0 0 .2em rgba(0, 0, 0, 0.7);
}

.input:focus{
    border-color: transparent;
    box-shadow: 0 0 .5em var(--main-color2);
}


.red_input{
    box-shadow: 0 0 .5em red !important;
}

.form > label{
    font-weight: 600;
}

.buttons_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons_centered{
    justify-content: center;
}

.btn{
    width: 100%;
    display: block;
    outline: none;
    background-color: var(--main-color2);
    border-radius: 5px;
    font-size: .9rem;
    letter-spacing: .5px;
    padding: .8rem 0;
    color: white;
    border: none;
    cursor: pointer;
    transition: all linear .1s;
    box-shadow: 0 0 .1em black;
    font-weight: 600;
    text-decoration: none;
}

.btn:hover{
    background-color: var(--text-color3);
}

.btn:disabled{
    background-color: rgba(0, 0, 0, 0.3);
    cursor: not-allowed;
}


.btn_short{
    width: 10em;
}

.btn_tiny{
    width: auto;
    padding: 0 .2em;
    font-size: .8rem;
    font-weight: 400;
}

.btn_danger{
    background-color: white;
    color: var(--danger-color);
    border: 1px solid var(--danger-color);
}

.btn_danger:hover{
    background-color: var(--danger-color);
    color: white;
}

.error{
    color: red;
    font-size: 14px;
    font-weight: 400;
    margin: .5em 0;
}

.header{
    margin: 0 0 1.5em;
}

.btn_very_short{
    width: 8em;
}

.btn_white{
    background-color: white;
    color: var(--main-color);
    border:1px solid var(--main-color);
}

.btn_white:hover{
    color: white;
    background-color: var(--main-color);
}

.link{
    cursor: pointer;
    font-size: .8em;
    font-weight: 400;
}

.link:hover{
    text-decoration: underline;
}

.link_danger{
    color: var(--danger-color);
}

.searchForm{
    display: flex;
    justify-content: space-between;
}

.searchForm>*{
    display: block;
}

.search_input_box{
    border: 1px solid var(--main-color2);
    border: 0;
    position: relative;
}

.search_input_box>button{
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 0;
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
}


.search_input{
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    padding: 0;
    box-shadow: 0 0 .2em rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 0 .5em;
    transition: all linear .2s;
}

.search_input:focus{
    box-shadow: 0 0 .3em var(--text-color3);
    width: 20em;
}

.order_btn{
    border: 1px solid var(--main-color2);
    font-size: .8rem;
    border: 0;
    border-radius: 5px;
    outline: 0;
    padding: 0 .5em;
    width: 7em;
    background-color: var(--bg-color);
    box-shadow: 0 0 .2em rgba(0, 0, 0, 0.7);
    cursor: pointer;
}


.order_box{
    position: relative;
}

.dropdown_back{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: 0 0 .2em rgba(0, 0, 0, 0.7);
}

.dropdown_option{
    font-size: .8rem;
    transition: all linear .2s;
    padding: .2em .5em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown_option>*{
    display: block;
}

.dropdown_option:hover{
    background-color: rgb(221, 240, 255);
}

.order_btn_active, .option_active, .option_active:hover{
    color: white;
    background-color: var(--text-color3);
}

