.paginator{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0 0;
}

.paginator>option{
    display: block;
    margin: 0 .5em;
}

.page{
    padding: 5px 8px;
    border-radius: 3px;
}

